<div class="container">
  <div class="row my-5">
    <div class="col-1"></div>
    <div class="col-10">
      <div id="about" class='d-flex flex-wrap'>
        <div>
          <h2>About Me</h2>
          <p>A fullstack developer passionate about learning both front end and back end based in Tokyo🗼. I studied English and American Literature in college, and after graduation I did a 9-week web development course at IT Bootcamp, where I developed many apps. I am looking forward to seeing how my career will be affected by the completely different paths I took while in college and after graduation. </p>
        </div>
        <%= image_tag 'images/ayaka-closeup.png', class: 'my_photo img-fluid text-center' %>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
