<div class="banner">
  <h2 class="page-title__title">Hello, my name is Ayaka Inaba.
    <br>
    I
    <!-- typing__module -->
    <div class="typing__module">
      <div class="typed-strings" style="display: none;"><span>'m a fullstack developer</span><span> do creative</span><span>'m young</span>
      </div>
      <span class="typed">'</span><span class="typed-cursor" style="animation-iteration-count: 0;">|</span>
    </div>
    <!-- End / typing__module -->
  </h2>
</div>
