<div class="container">
  <div class="card-product">
    <img src="images/images/project_no1.png" />
    <div class="card-product-infos">
      <h2 id="tokyo">Tokyo Vinyl</h2>
      <p id="description">An app that you can search vinyls, and rent it. You will also know the location where you can rent the vinyl. I insert map and styled it.</p>
      <% link_to "https://tokyo-vinyls.herokuapp.com/", target: '_blank' do %>
        <i class="fa-solid fa-link"></i>
      <% end %>
      <p id="arrow">â«click to see the detail</p>
    </div>
  </div>
</div>
