.banner {
  // background-image: url("images/portfolio-banner.jpg");
  height: 300px;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
}

.banner > h2 {
  position: absolute;
  top: 150px;
  left: 50px;
  color: $blue;
  font-family: "Lobster", sans-serif;
  font-size: 70px;
 .typed-strings {
    top: 250px;
    left: 50px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .banner {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner > h2 {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .banner > h2 {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner > h2 {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner > h2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner > h2 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
