.banner {
  // background-image: url("images/portfolio-banner.jpg");
  height: 300px;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
}

h2 {
  position: absolute;
  top: 150px;
  left: 50px;
  color: $blue;
  font-family: "Lobster", sans-serif;
  font-size: 70px;
 .typed-strings {
    top: 250px;
    left: 50px;
  }
}
