// Specific CSS for your home-page
.header.header--fixed {
  background-color: #F1EEE9;
}
body {
  background-color: #F1EEE9;
}

h2 {
  color: $blue;
  font-size: 50px;
  // margin-top: 200px;
}

.container-about {
  margin-top: 200px;
}

.about_me-h2 {
  color: $blue;
  font-size: 50px;
}

p {
  width: 600px;
}

#projects {
  position: relative;
  .projects-h2 {

  }
  .project-name-h2 {

  }
}
