// Specific CSS for your home-page
.header.header--fixed {
  background-color: #F1EEE9;
}
body {
  background-color: #F1EEE9;
}

h2 {
  color: $blue;
  font-size: 50px;
  font-family: $lobster;
  // margin-top: 200px;
}

#about {
  position: relative;
}

#about-me-card {
  border: none;
}

#about-me-description {
  background-color: $gray;
  border: none;
}

#about_me {
  margin-top: 200px;
  margin-bottom: 500px;
  display: flex;
 img {
  height: 300px;
  width: 100%;
  object-fit: contain;
 }
}


.about_me-h2 {
  color: $blue;
  font-size: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  width: 600px;
}

#projects {
  position: relative;
  .projects-h2 {
    font-size: 50px;
  }
  .project-name-h2 {

  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .img {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .img {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .img {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .img {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .img {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  body {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  body {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  body {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
