// Specific CSS for your home-page
.header.header--fixed {
  background-color: #F1EEE9;
}
body {
  background-color: #F1EEE9;
}

h2 {
  color: $blue;
  font-size: 50px;
  // margin-top: 200px;
}

#about {
  position: relative;
}

#about-me-card {
  border: none;
}

#about-me-description {
  background-color: $gray;
  border: none;
}

#about_me {
  margin-top: 200px;
  margin-bottom: 500px;
  display: flex;
 img {
  height: 300px;
  width: 100%;
  object-fit: contain;
 }
}


.about_me-h2 {
  color: $blue;
  font-size: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  width: 600px;
}

#projects {
  position: relative;
  .projects-h2 {

  }
  .project-name-h2 {

  }
}
