.container {
  max-width: 100%;
}

#projects-h2 {
  font-size: 70px;
}

.card-product {
  overflow: hidden;
  height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.card-product img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.card-product-infos {
  padding: 16px;
  // display: flex;
  #tokyo {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
  }

  #description  {
    font-size: 15px;
    width: 300px;
  }


  .fa-solid {
    top: 10px;
    font-size: 25px;
    color: $blue;
    margin-top: 20px;
    margin-left: 30px;
    &:hover {
      color: $red;
    }
  }

  #arrow {
    margin-left: 40px;
  }
}

.card-product .card-product-infos {
  padding: 16px;
}
